body { font-family: Verdana, Helvetica, sans serif; font-weight: normal; color: black; background: white }

h1 { font-family: Verdana, Helvetica, sans serif; font-weight: normal; font-size: 20pt;text-align: center; color: #353a90 }
h2 { font-family: Verdana, Helvetica, sans serif; font-size: 16pt; margin-top:10pt; margin-bottom:0; font-weight: normal; color: #353a90 }
h3 { font-family: Verdana, Helvetica, sans serif; font-size: 14pt; font-weight: normal }
h4 { font-family: Verdana, Helvetica, sans serif; font-size: 13pt; font-weight: bold }
h5 { font-family: Verdana, Helvetica, sans serif; font-weight: normal }

p { font-family: Verdana, Helvetica, sans serif; font-size: 10pt; font-weight: normal; }
p.task {font-family: Verdana, Helvetica, sans serif; font-weight: normal; font-size: 10pt; margin-top:5pt; margin-bottom: 3pt; line-height: 12pt; color:black ; }
p.toc {font-family: Verdana, Helvetica, sans serif; font-weight: normal; font-size: 10pt; margin-top:1pt; margin-bottom: 2pt; line-height: 12pt;  }
p.sm1 {font-family: Verdana, Helvetica, sans serif; font-weight: bold; font-size: 10pt; margin-left: 0; margin-top:10pt; margin-bottom: 2pt; }
p.sm2 {font-family: Verdana, Helvetica, sans serif; font-weight: normal; font-size: 10pt; margin-top:0pt; margin-bottom: 2pt; }
p.ix1 {font-family: Verdana, Helvetica, sans serif; font-weight: normal; font-size: 10pt; margin-left: 10; margin-top:0pt; margin-bottom: 2pt; }
p.ix2 {font-family: Verdana, Helvetica, sans serif; font-weight: normal; font-size: 10pt; margin-left: 50; margin-top:0pt; margin-bottom: 2pt; }

td { font-family: Verdana, Helvetica, sans serif; font-size: 10pt;font-weight: normal; }
td.tech { font-family: Verdana, Helvetica, sans serif; font-size: 10pt; font-weight: bold; font-style: italic; color: white; background-color: #000080}
td.use { font-family: Verdana, Helvetica, sans serif; font-size: 10pt; font-weight: bold; font-style: italic; color: white; background-color: #C21616}
td.quick { font-family: Verdana, Helvetica, sans serif; font-size: 10pt; font-weight: bold; font-style: italic; color: white; background-color: #008000}



ul { font-family: Verdana, Helvetica, sans serif; font-size: 10pt; list-style-image: url('images/ul1.gif'); }
ul ul {list-style-image: url('images/ul2.gif'); }
ul ul ul {list-style-image: url('images/ul3.gif'); }
ol { font-family: Verdana, Helvetica, sans serif; font-size: 10pt; }


ol.task {color:black}
ol.task li{color: #003399; font-size: 10pt; font-weight: bold}
ol.task1 li{color: #872128; font-size: 10pt; font-weight: bold}
ol.task2 li{color: black; font-size: 10pt; font-weight: bold}
li { font-family: Verdana, Helvetica, sans serif; font-size: 10pt; font-weight: normal;}
kbd { font-family: Verdana, Helvetica, sans serif; font-size: 10pt; font-weight: bold; color: #757575}
pre { font-family: Courier New, Courier; font-weight: normal; }
code {color: #976970;  font-family: Verdana, Helvetica, sans serif; font-size: 10pt; font-weight: normal;}
tt { font-family: Courier New, Courier; font-weight: normal;}

table { border-collapse: collapse }
table.code { background-color: #E0E0E0; width: 100%; margin-bottom: 2mm; margin-top: 2mm}
td.code { background-color: #E0E0E0; }
table.abstract { background-color: #f2f2f2; width: 100%; margin-bottom: 2mm; margin-top: 2mm; }
th { font-family: Arial, Helvetica, sans serif; font-weight: bold }
caption { font-family: Arial, Helvetica, sans serif; font-weight: normal; font-style: italic;}

A { COLOR: #3366FF; FONT-FAMILY: Verdana, helvetica, sans-serif; TEXT-DECORATION: none }
A:link { COLOR: #3366FF; FONT-FAMILY: Verdana, helvetica, sans-serif; TEXT-DECORATION: none }
A:visited { COLOR: #0080FF; FONT-FAMILY: Verdana, helvetica, sans-serif; TEXT-DECORATION: none }
A:hover { BACKGROUND: #73A6FF; COLOR: #ffffff; FONT-FAMILY: Verdana, helvetica, sans-serif; TEXT-DECORATION: none }

