/* August 2016 - ADG - copied to V5 level for spenot revamp. Could be simplified, then
August 2016 - MTN - styling for spenot th
April 2016 - MTN - adjustment to style for UA panel
March 2016 - MTN - styling for UA panel
Dec 2015 - MTN - styling for DT in WN topic
Mar 2015 - MTN - styling for standalone glossaries based on DS_Glossary.xml; fix for Chrome issue with images in table cells; fix for dt in action bar topics
Jan 2015 - corrected background position of sitemap image; corrected indentation of equations in sections
November 2014 - JWS / MTN - updated title and hyperlink styling to match 3ds.com and reduced indentation.
November 2014 - MTN - manage div.keygroup for keywords specialization
September 2014 - MTN - manage equations in sections 
August 2014 - MTN - handle table title and desc like figure title and desc; and choicetable font
May 2014 - MTN - correct bug when icon inserted in prereq element text - td.Intro2.
April 2014 - MTN - import of DSDocXMLLegacy css.
March 2014 - MTN - Moved styles in DSDocXMLLiquid here. There is no longer any compelling reason 
to maintain a Liquid and Fixed CSS. Rework vertical spacing of lists and p. */

@import url("DSDocXMLDomains.css");
@import url("DSDocShowTerm.css");
@import url("DSDocXMLLegacy.css");

body {
	font-family: Verdana, Helvetica, sans-serif;
	font-weight: normal;
	color: #000000;
	background: white;
	font-size: 8pt;
	}

table.table1 {
	width: 100%;
	margin-top: 0px;
	margin-left: 0px;
	table-layout: fixed;
	}

div#layermerge {
    visibility: hidden;
    } 

/* _________________________________________________________________________________________________ */
/*              Doc Header for UA panel                                                              */
/* _________________________________________________________________________________________________ */
.UAPAnel {
    width: 98%;
    padding-bottom: 5px;
    border-bottom: 0.1em solid #C8CCCE; 
    border-collapse:separate;
    background-color: #F9F9F9;
    }
.UAPAnel h1 {
    color: #72797F; 
    background-color: #C8CCCE;
    padding-top: 2px;
    padding-bottom: 2px;
	}
.UAPAnel p.themes {
    margin-left: 0px;
	}
table.DocHeader-UAPanel {
    width: 98%;
    margin: 0px;
    }
table.DocHeader-UAPanel td.DocHeader4 {                 
	height: 0px;
	}
table.DocHeader-UAPanel td  {
    padding: 0px;
    }
table.DocHeader-UAPanel table.DocThemeIntro-UAPanel {
    margin-top: 0px;
    }
table.DocHeader-UAPanel h1 {
    color: #4B575F;
    background-color: #F9F9F9;
    border-bottom: 0.05em solid #C8CCCE; 
    border-top: 0.05em solid #C8CCCE;
    }
table.DocHeader-UAPanel + .nested1 h2 {
    margin-top: 0px;
    }
table.DocHeader-UAPanel td p {
        color: #000000;
    }

/* _________________________________________________________________________________________________ */
/*              Doc Header                                                                           */
/* _________________________________________________________________________________________________ */
table.DocHeader {
	width: 100%;
	background-color: white; 
	margin-top: 0px;  
	margin-left: 0px;
	}
	
/* ----------- Doc Header  ---   H1 Heading --------*/	
td.DocHeader1 { 
	/*background-color: #72797F; JWS REMOVED*/       
	width: 100%;
	}
	
/*________________________ Separator, empty cell  _______________________*/
td.DocHeader4 {                 
    background-color: white;
	height: 8px;
	}
	
/*  -------- Doc Header ----- Introduction   --------*/
/*    vertical-align necessary                       */
td.DocHeader3 { 
	background-color: white;    
	border: 0px solid white ; 
   	height: 100%;
   	width: 74%;
	vertical-align: top;
	margin-top: 20pt;
	margin-bottom: 0px;    
	}
	
table.DocHeaderIntro {
	width: 98%;
	vertical-align: top;
	margin-top: 0px;
	margin-left: 0px;
	border: 1px solid  #C8CCCE;
	border-collapse: collapse;
	border-spacing: 0; 
	background-color: #F9F9F9;
	}
 
table.DocThemeIntro {
	width: 100%;
	vertical-align: top; 
	margin-top: 0px;
	margin-left: 0px;
	border: 1px solid  #C8CCCE; 
	background-color: #F9F9F9;  
	}

td.Intro1 { 
   	height: 100%;
	vertical-align: top; 
	padding-top: 4px; /* 10px; JWS CHANGE */
	padding-left: 10px;
	padding-right: 4px;
	}

td.Intro1Only { 
	height: 100%;
	vertical-align: top; 
	padding-top: 4px; /* 10px; JWS CHANGE */
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 4px;
 	}

td.Intro2 { 
	height: 100%;
 	color:   #4B575F;             
	padding-top: 0px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
 	}

td.Intro1 ul, td.Intro2 ul, td.Intro1Only ul {
	margin-right: 0px;
	margin-left: 0px; /* 10px; JWS CHANGE */
	line-height: 12px;   
	color: #4B575F;  
	} 
td.Intro1Only ul {
	margin-bottom: 0px;	
	} 
td.Intro1 ol, td.Intro1Only ol {
	margin-right: 0px;
	margin-left: 0px;
	margin-bottom: 0px;
	margin-top: 5px;
	} 
td.Intro2 ol {
	margin-top: 5px;
		}
td.Intro2 dl { 
	margin-left: 0px;
	} 
/*-------------Special para. tag for header ------------------ */
p.header {
	color: #4B575F;   
	margin-left: 0px;
	margin-bottom: 0px;
	margin-right: 0px;
	}
td.Intro1Only p.header, td.Intro1 p.header {
	margin-bottom: 6px;
	} 
td.Intro1 p, td.Intro2 p, td.Intro1Only p  {
	color: #4B575F;   
	margin-left: 0px;
	margin-bottom: 0px;
	} 
td.Intro1 ul p, td.Intro2 ul p, td.Intro1Only ul p  {
	margin-top: 3px;
	}
td.Intro2 p.themes, td.Intro2 p.usertasks {
	margin-left: 10px; /* 22px; JWS CHANGE */
	/* padding-left: 15px; JWS REMOVED */
	}
/* eliminates unwanted vertical space when p followed by br rather than p around br */
td.Intro1Only br, td.Intro1 br, td.Intro2 br {
	line-height: 0;
	}
/*-------------Horizontal line in header - was 0.5px ----------------- */
hr.header {
	color:  #C8CCCE; 
	background-color:  #C8CCCE;    
	height: 0.1px; 
	margin-top: 0px;
	}

/* _________________________________________________________________ */
/*        Doc Header       Navigation box                            */
/*      vertical-align necessary for td.DocHeader2                   */
/* _________________________________________________________________ */
td.DocHeader2 { 
	width: 26%;	
	background-color: #FFFFFF;   
	padding: 0px;
	vertical-align: top;
  	}
/*  added extra 1px to width because had to increase border width to be able to see it after setting the
	default table with a left-margin */
table.DocTopics {
	width: 100%;
	background-color: #F9F9F9; /* #EAECED; JWS CHANGE */
	border: 1px solid  #C8CCCE; /* 5px solid #EAECED; JWS CHANGE */      
	margin-top: 0px;
	margin-left: 0px;
	padding:3px; /* JWS ADDED */
	border-collapse:separate; /* JWS ADDED */
	}
table.DocTopics td { 
	font-size: 8pt; /* 7pt; JWS CHANGE */
	padding: 2px; /* 1px; JWS CHANGE */       
	}
/* _________________________________________________________________________________________________ */
/*              Related topics title                                                                 */
/* _________________________________________________________________________________________________ */
td.TopicsTitle { 
	font-weight: bold;
	color: #4B575F;       
	}
/* Related topics in other guides (SIMULIA request)  */
td.TopicsTitleNormal {
	margin-top: 30px;
	font-weight: normal;
	color: #4B575F;       
	}
/* _________________________________________________________________________________________________ */
/*              Related information for KB articles								                     */
/* _________________________________________________________________________________________________ */
div.relinfo {
	margin-top: 12px;
	margin-left: 0px; /* 6px; MTN CHANGE */
	}
div.relinfo a {
	line-height: 15px;
	} 
/* _________________________________________________________________________________________________ */
/*              Headings                                                                             */
/* _________________________________________________________________________________________________ */
h1 {
	font-weight:  normal ; 
	font-family: Arial;  		
	font-size: 16pt; 
	color:  #5B7F95; /* #FFFFFF; JWS Change */       
	/*padding: 4px; JWS REMOVED */
	margin-top: 0px;
	margin-bottom: 0px;
	/*margin-left: 4px; JWS REMOVED */
	}
h2 {
	font-family: Verdana, Helvetica, sans-serif; 
	font-size: 13pt;              
	font-weight: normal; 
	color: #4B575F;         
	margin-top: 4pt; 
	margin-bottom: 2pt; 
	margin-left: 0px; /* 4px; JWS CHANGE */
	text-align: left;
	padding-top: 5px;
	}
h2 span.uicontrol, h2 span.menucascade, h2 span.wintitle { 
	font-size: 13pt; 
	font-weight: normal; 
	letter-spacing: 0em; 
	color: #4B575F;
	}
h2 cite { 
	font-size: 13pt; 
	letter-spacing: 0em; 
	font-weight: normal; 
	font-style: normal; 
	color: #4B575F;
	}	
h3{
	font-family: Verdana, Helvetica, sans-serif; 
	font-size: 10pt; 
	font-weight: bold; 
	color: #828B90;     	
	margin-top: 2pt; 
	margin-bottom: 2pt; 
	text-align: left;
	margin-left: 0px; /* 4px; MTN CHANGE */
	padding-top: 5px;
	}
h3 span.uicontrol, h3 span.menucascade, h3 span.wintitle { 
	font-size: 10pt; 
	letter-spacing: 0em; 
	color: #828B90;
	}
h3 cite { 
	font-size: 10pt; 
	font-style: normal; 
	letter-spacing: 0em; 
	color: #828B90;
	}
h4{
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 8pt; 
	font-weight: bold; 
	color:   #828B90;        
	margin-top: 2pt; 
	margin-bottom: 0px; 
	margin-left: 0px; /* 4px; MTN CHANGE */
	text-align: left;
	padding-top: 5px;
	}
h4 span.uicontrol, h4 span.menucascade, h4 span.wintitle { 
	letter-spacing: 0em; 
	color: #828B90;
	}
h4 cite { 
	letter-spacing: 0em; 
	font-style: normal; 
	color: #828B90;
	}
h5{
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 8pt; 
	font-weight: normal; 
	color:   #4B575F;        
	margin-top: 2pt; 
	margin-bottom: 0px; 
	margin-left: 0px; /* 4px; MTN CHANGE */
	text-align: left;
	padding-top: 5px;
	}
h5 span.uicontrol, h5 span.menucascade, h5 span.wintitle { 
	letter-spacing: 0em; 
	color: #4B575F;
	font-weight: normal; 
	}
h5 cite { 
	letter-spacing: 0em; 
	color: #4B575F;
	font-weight: normal; 
	font-style: normal; 
	}

/* _________________________________________________________________________________________________ */
/*                                         le texte de base    oo                                    */
/* _________________________________________________________________________________________________ */

p  {
	color: #000000;  
	margin-left: 10px; /* 40px; JWS CHANGE */
	margin-right: 20px;
	margin-top: 7px;
	margin-bottom: 0px;
	}
/* removes unwanted extra space when p followed by /br - br added by XMetaL by default on publish */
p > br:first-child {
	line-height:0;
	} 
/* removes unwanted extra space when p followed by /br and p around /br NEED TO CHECK NO OTHER IMPACTS - br added by XMetaL by default on publish */
div br
	 {
	line-height:0;
	} 
/* Resets margin of Normal when in li - for tables in numbered lists */
li p
	{
	margin-left: 0px;
	}
li table {
	margin-left: 0px;
	}
/*   For spacing and style of Context element - appears after header box  */          		
p.context {
	font-weight:bold;
	color: #4B575F; 
	}
/* p.result corresponds to Result element */
p.result+div.section p+ol { 
	margin-top: 5px;
	margin-left: 0px; 
	}
/*   XMETAL - img in a p - three cases --- */
/*   use new selector for attribute containing a string - use * - to adjust for icons in tasks - */          		          		
p IMG {
	margin-top: 5px;
	}
/* p IMG {
	margin-top: 0px;
	} 
p br+IMG {
	margin-top: 5px;
	} */
li.stepexpand IMG[src*="../Icons22"] {
	margin-top: 0px;
	} 

 
/* ______________________________________________________________________ */
/*                                         Numbered List                  */
/* __________________________________________________________ ___________ */
/* ________margin-bottom added to ol to reduce top margin of p.result_________*/

ol { 
	margin-bottom: 0px;
	padding-left: 30px; /* 25px JWS ADDED - MAY STILL HAVE TO LOOK AT THIS. 0 PUSHES BULLETS LEFT OF LEFT MARGIN*/  
	}
ol ol { 
	list-style-type: lower-alpha;
	margin-top: 5px;
	margin-bottom: 0px;
	margin-left: 30px; 
	margin-right: 15px;
	padding: 0px;
	}
/*   XMETAL --------------------------*/          		
li.stepexpand {	
	line-height: 10pt; 
	font-weight: bold;
	color: #4B575F; 
	list-style-type: decimal;
	margin-right: 10px;
	margin-top: 5px;
	margin-bottom: 0px;
	padding: 0px;
		} 
li.stepexpand ol {	
	font-weight: normal;
    color: #000000;
	margin-top: 5px;
	margin-bottom: 0px;
	margin-left: 30px; 
	margin-right: 15px;
	padding: 0px;
		} 
li.stepexpand p, li.stepexpand ul {	
	font-weight: normal;
	color: #000000; /* MTN ADDED */
		}
/* MTN moved next item out of one above */
li.stepexpand td {	
	font-weight: normal;
	}
li.stepexpand table.Remark, li.stepexpand dl, li.stepexpand ul {
	margin-left: 0px;
	} 
li.stepexpand li >p{	
	margin-top: 3px;
		} 
/*_____ adjustment for stepresult in substeps_______ */
li.substepexpand p {	
	margin-top: 3px;
	margin-bottom: 3px;
		} 

/*_____ Bulleted lists _______ */
ul {
	list-style-type: disc;
	font-style: normal; 
	font-size: 8pt;	
	padding-top:    0px;
	padding-bottom: 2px;
	padding-left: 25px; /* 30px; JWS CHANGE MAY STILL HAVE TO LOOK AT THIS. 0 PUSHES BULLETS LEFT OF LEFT MARGIN*/  
	padding-right: 10px;
	margin-left: 10px; /* 40px; JWS CHANGE */
	margin-right: 15px;
	margin-top: 5px;
	margin-bottom: 0px;
	}
ul ul {
	margin-left: 0px;
	margin-top: 3px;
	}
ul ul ul {
	margin-left: 0px;
	margin-top: 3px;
	}
/* to increase vertical spacing in UL and OL lists in all topic types */
li {	
	margin-top: 3px;
		}  
	
/* NB. div of class p is used elsewhere by default, see dita2htmlImpl.xsl */
/* Reworked for prereq in subtopics */
div.p {
	margin-top: 7px;
	margin-left: 10px; /* 40px; JWS CHANGE */
	}
/* For prereqs in subtopics with ul lists */
div.p br+ul {
	margin-left: -5px;
	margin-right: 15px;
	}
div.p span.run-in~p {
	margin-left: 0px;
	margin-top: 5px;
	}
div.p span.run-in~ul {
	margin-left: 0px;
	}
div.p span.run-in+p+ul {
	margin-left: 0px;
	margin-top: 5px;
	} 
div.p span.run-in+ol {
	margin-left: -10px; 
	margin-top: 5px;
	}
div.p span.run-in+p+ol {
	margin-left: -10px; 
	margin-top: 5px;
	}
div.p span.run-in+ol  ul {
	margin-left: 0px;
	margin-top: 5px;
	}
div.p span.run-in+p+ol  ul {
	margin-left: 0px;
	margin-top: 3px;
	}
/* For images in root topic prereq displayed after header and before steps */
div.p img {
	margin-top: 5px; 
	margin-left: 0px;
	}   
/* For left margin of single steps, shown as bullets */
div.p>ul {
	margin-left: 0px; /* -30px; JWS CHANGE */
	}
div.p>ul ul {
	margin-left: 0px;
	}
/* For images in single steps when in a p with a br */
div.p ul>li p>img {
	margin-top: 0px;
	} 

/* Manages div.section to take standalone text (no tag) in result xml element into account */
/* means now have to manage tags in section */
div.section {
	margin-left: 10px; /* 40px; JWS CHANGE */
	}
div.section h2, div.section h3, div.section h4, div.section h5 {
	margin-left: -10px; /* -27pt; JWS CHANGE */
	}
div.section p, div.section ul, div.section dl, div.section table {
	margin-left: 0px; 
	}
div.section ol {
	margin-left: 0px; /* -30px; JWS CHANGE */
	padding-left: 25px; /* JWS ADDED - MAY STILL HAVE TO LOOK AT THIS. 0 PUSHES BULLETS LEFT OF LEFT MARGIN*/  	
	} 
div.section ol ul {
	margin-left: 0px;
	} 
/* div.section dl.wn {
	margin-left: 0px; /* -26pt; JWS CHANGE 
	} */
div.section div.tablenoborder table.InterfaceDesc {
	margin-left: 0px; /* -26pt; JWS CHANGE */
	}
div.section table.Remark {
	width: 90%;
	margin-left: 0px;
	} 
div.section div.equation {
	margin-left: -0.9em; /* -3.75em; MTN CHANGE */
	} 
	
/* div.keygroup for keywords specialization */
div.keygroup {
	margin-top: 10px;
	margin-left: 0px; /* -5px; MTN CHANGE */
}
/* ---------------------------------------------------- */
/* Tables                                                */
/* ---------------------------------------------------- */
/* --- top margin in table so that table after step aligns correctly ---- */	
table {
	border-collapse: collapse;
	margin-top: 5px;
	margin-left: 10px; /* 40px; JWS CHANGE */
	}
/* needed for spenot where text is not in any tag and for table titles */
td {
	font-size: 8pt; 
	}	
th.spenot {
    font-size: 10pt;
    background-color: white; 
	border: none; 
    }
/*   XMETAL reference tables */           		
td.cellrowborder {
	border:1px solid #C8CCCE; 
	background-color: #F9F9F9;
	padding: 2px;
	padding-left: 3px;
	vertical-align: baseline;
	color: #000000;
	 }
td.cellrowborder p, td.cellrowborder dl {
	margin-left: 0px;
	} 
td.cellrowborder ul {
	margin-left: 0px; /* -8px; MTN */
	margin-top: 2px;
	margin-bottom: 2px;
	margin-right: 5px;
	} 
td.cellrowborder ol {
	margin-left: 0px; /* -18px; MTN */
	margin-top: 2px;
	margin-bottom: 2px;
	margin-right: 5px;
	}
td.cellrowborder li {
	margin-top: 0px;
	}
/* td.cellrowborder img {
	vertical-align: bottom;  
	} MTN REMOVED */
/*   XMETAL - manage space for tables without borders --*/        	

td.nocellnorowborder p, td.nocellnorowborder dl  {
	margin-left: 0px;
	} 
td.nocellnorowborder ul {
	margin-left: 0px; /* -8px; MTN */
	margin-top: 2px;
	margin-bottom: 2px;
	margin-right: 5px;
	} 
td.nocellnorowborder ol {
	margin-left: 0px; /* -18px; MTN */
	margin-top: 2px;
	margin-bottom: 2px;
	margin-right: 5px;
	}
td.cell-norowborder p {
	margin-left: 0px;
	} 
td.cell-norowborder li {
	margin-top: 0px;
	} 
th {
	letter-spacing: -0.05em; 
	font-weight: bold;
	text-align: left;
	vertical-align: middle; /* MTN ADDED */
	color: #4B575F;
	background-color: #EAECED; 
	border:1px solid #FFFFFF; 
	height: 20px;
	/* padding: 2px; MTN REMOVED */ }

th.normal {}
 
/* ---------------------------------------------------- */
/* InterfaceDesc tables used in a number of UX topics */
/* ---------------------------------------------------- */
table.InterfaceDesc {
	margin-left: 0px; /* 4px; MTN CHANGE */
	width: 98%;
	margin-top: 5px;
	} 
/*   used in InterfaceDesc tables and spenot file */           		
td.padding {
	padding: 2px;
	vertical-align: top; 
	}
td.padding p {
	margin-left: 0px;
	margin-top: 0px;
	margin-bottom: 2pt;
	}
/*  eliminates unwanted space */ 
td.padding br {
	line-height:0;
	}
/*  aligns dd under dt and (march 2015) manages dt font color */ 
table.InterfaceDesc dl {
	margin-left: 0px;
	} 
table.InterfaceDesc dd {
	margin-left: 0px;
	} 
table.InterfaceDesc dt {
	color: #757E84;
	}

/* _______________________________________________________________________________ */
/*                       Information Boxes                                         */
/* Note: inside OL task and under P, the size and left-margin are same             */
/* _______________________________________________________________________________ */

table.Remark {
	background-color:  #F9F9F9;  
	border: 1px solid #C8CCCE;
	width: 90%;
	margin-left: 10px; /* 40px; JWS CHANGE */
	margin-top: 8px;
	}		
td.Remark {  
	color:  #4B575F; 
	text-align: left;
	margin-top:    2px;
	margin-bottom: 0px;
	margin-right: 10px;
	padding-top:    4px; /* 0px; JWS CHANGE */
	padding-bottom: 4px;
	padding-left : 10px;
	padding-right: 10px;
 	}
td.Remark p {
	color:  #4B575F;  
	margin-left: 0px; 
	} 
td.Remark ul p {
	margin-top: 0px;
	}
td.Remark ul {
	color:  #4B575F;
	padding-bottom: 0px;
	margin-left: 0px; /* 10px; MTN CHANGE */
	} 
td.Remark ol {
	color:  #4B575F;
	margin-left: 0px;
	list-style-type: decimal;
	} 
li.stepexpand  td.Remark ol {
	margin-left: 30px; /* 40px MTN CHANGE */
	}
/* to set width for information box when inside UL / OL OL - otherwise exceeds 500px */
ul table.Remark {
	width: 90%;
	margin-left: 0px;
	} 
ol ol table.Remark {
	width: 90%;
	margin-left: 0px;
	} 
p.result table.Remark {
	margin-left: 0px;
	}
p table.Remark {
	margin-left: 0px;
	}

/* Table title and desc elements */
span.tablecap {
	font-weight: bold;
	color: #4B575F; 
	}
caption {
	text-align: left;
	margin-bottom: 3px;
	}
/*   XMETAL for figures - figcap same as run-in; use class on div for top/bot margins */          		
span.figcap {
	font-weight:bold;
	color: #4B575F; 
	font-size: 8pt;
	}
span.figdesc {
	font-weight:normal;
	color: #4B575F; 
	font-size: 8pt;
	}
div.fignone {
	margin-left: 10px; /* 40px; MTN CHANGE */
	margin-right: 20px;
	margin-top: 7px;
	margin-bottom: 0px;
	} 
div.fignone img {
	margin-top: 5px;
	}
li > div.fignone {
	margin-left: 0px;
	} 
dd > div.fignone {
	margin-left: 0px;
	} 
div.nested1 li>div.fignone {
	margin-left: 0px;
	} 
div.nested1 div.fignone>p {
	margin-left: 0px;
		}
div.nested2 div.fignone>p {
	margin-left: 0px;
		}
div.nested2 div.fignone, div.example div.fignone {
	margin-left: 10px; /* 40px; MTN CHANGE */
	margin-right: 20px;
	margin-top: 7px;
	margin-bottom: 0px;
	} 
div.section div.fignone {
	margin-left: 0px;
	} 

/* Used to highlight the Search result */
strike.search{ font-family: Verdana, Helvetica, sans-serif; 
	color: #FFFFFF; 
	background: #111199; 
	text-decoration: none; 
	}


/* Definition Lists */
/* ============================== */
/* --- general dl defined flush left - same left margin as plain text ; see below for special dl.wn and dl.uicontrol ; glossary handled differently in V6 ----- */
dl { 
 	margin-right: 35px;
 	margin-bottom: 0px;
 	margin-left: 10px; /* 40px; JWS CHANGE */
 	margin-top: 5px;
	}
dl dl { 
 	margin-left: 0px; 
	margin-top: 5px;
	}

dl table {
	margin-left: 0px;
	}

/* Definition Term */
/* --------------- */
dt {  
	color: #4B575F;  
	font-weight: bold; 
	}
dt.pt {  
	color: #976970;  
	font-weight: normal;
	}


/* Definition Definition */
/* --------------------- */
dd { 
	color: #000000;
	font-weight: normal;
	margin-bottom: 3px;
	margin-left: 15px; /* 30px; JWS CHANGE */
	margin-top: 3px;
	}
dd p { 
	margin-left: 0px;
	margin-top: 3px;
	}
/* same margin-left for ul as when in a p */
dd ul
	{ 
	margin-left: 0px;
	margin-top: 3px;
	}
dd ol
	{ 
	margin-left: 0px; /* -10px; MTN CHANGE */
	margin-top: 3px;
	}
dd ol li
	{ 
	padding-left: 0px;
	}
/* adjust margins and width of information boxes in dl lists */
dd table.Remark {
	margin-left: 0px;
	width: 90%;
	} 
dd dd table.Remark {
	width: 90%;
	} 


/* Definition: used in what's new */
/* ============================== */
/* special class for dl in what's new */
/* MTN REMOVED 
dl.wn { 
 	margin-right: 35px;
 	margin-bottom: 0px;
 	margin-left: 5px; 
 	margin-top: 5px;
	} */

/* dt in what's new */
/* --------------- */
dl.wn dt {  
	color: #4B575F;  /* #000000 */
    font-size: 12px;
	font-weight: normal; 
	}
dl.wn dt:first-letter {
	font-weight: 600;
	}
dl.wn dl.wn { 
 	margin-left: 0px; 
	}
dl.wn dd {
	margin-bottom: 6px;
	}
/* used when outputclass is uicontrol in UX templates */
/* ============================== */
/* special class dl.uicontrol to set dt to uicontrol definition */
/* --------------- */

dl.uicontrol dt { 
	font-weight: bold; 
	color: #757E84;
	margin-bottom: 0px;
	}
dl.uicontrol dl dt { 
	margin-bottom: 3px;
	}
dl.uicontrol dd { 
	margin-bottom: 8px;
	}
dl.uicontrol dd.ddexpand { 
	margin-top: 0px;
	}
	
/* DS_Glossary.xml template */
body#glossary h2.topictitle2 {
	font-size: 8pt;
	font-weight: bold;
	margin-left: 10px;
	margin-right:35px;
	margin-top: 5px;
	margin-bottom: 0px;
	}
body#glossary p {
	margin-left: 25px;
	margin-top: 3px;
	margin-bottom: 3px;
	}
body#glossary ul {
	margin-left: 25px;
	} 
	
/* _______________________________________________________________________________________________________ */
/*      LINKs                                                                                              */
/* _______________________________________________________________________________________________________ */


a:link {
	color: #1A79B1; /* #F56F00; JWS CHANGE */
	text-decoration: none; /* underline; JWS CHANGE */
	}
                       
a:visited  {
	color: #1A79B1; /* #BF650F; JWS CHANGE */
	text-decoration: none; /* underline; JWS CHANGE */
	}
	
/* Nielson: makes page more cluttered - but important for related topics because of small margins */
a:hover  {
	/* background: #FFFFFF; JWS REMOVED */
	/* color: #562E18; JWS REMOVED */
	text-decoration: underline; 
	} 

a:link IMG {
	border: #1A79B1; /* #FF7900; MTN CHANGE */
	border-width: 1px;
	border-style: solid;
	}

a:visited IMG {
	border: #1A79B1; /* #BF650F; MTN CHANGE */
	border-width: 1px;
	border-style: solid;
	} 

a:hover IMG {
	border: #FFFFFF; 
	border-width: 1px; /* 2px JWS CHANGE */
	border-style: solid;
	} 
/* March 2009 */
a:link span.uicontrol { 
	color: #1A79B1; /* #FF7900; JWS CHANGE */
	font-weight: normal; 
	letter-spacing: 0em; 
	}
a:visited span.uicontrol { 
	color: #1A79B1; /* #BF650F; JWS CHANGE */
	font-weight: normal; 
	letter-spacing: 0em; 
	}
a:link span.menucascade { 
	color: #1A79B1; /* #FF7900; JWS CHANGE */
	font-weight: normal; 
	letter-spacing: 0em; 
	}
a:visited span.menucascade { 
	color: #1A79B1; /* #BF650F; JWS CHANGE */
	font-weight: normal; 
	letter-spacing: 0em; 
	}
a:link span.wintitle { 
	color: #1A79B1; /* #FF7900; JWS CHANGE */
	font-weight: normal; 
	letter-spacing: 0em; 
	}
a:visited span.wintitle { 
	color: #1A79B1; /* #BF650F; JWS CHANGE */
	font-weight: normal; 
	letter-spacing: 0em; 
	}
a:link cite { 
	color: #1A79B1; /* #FF7900; JWS CHANGE */
	font-weight: normal; 
	font-style: normal; 
	letter-spacing: 0em; 
	}
a:visited cite { 
	color: #1A79B1; /* #BF650F; JWS CHANGE */
	font-weight: normal; 
	font-style: normal; 
	letter-spacing: 0em; 
	}

/* === Link from topic term to glossary definition ==== */
span.glossterm {
	color: #1A79B1; /* #0070C0; JWS CHANGE */
	border-bottom: 1px dotted #1A79B1; /* JWS ADDED */
	text-decoration: none; 
	}
/* JWS ADDED UNDERLINE FOR HOVER STATE */
span.glossterm:hover {
	border-bottom: 1px solid #1A79B1;
    cursor: help;
	}
dfn.term {
	font-style: normal;
	}

/* ========================================================== */
/* ====== no underline in site map ======================== */
/* ========================================================== */
p.ssm1 a:link {
	text-decoration: none; 
	}
p.ssm2 a:link {
	text-decoration: none; 
	}
p.ssm1 a:visited {
	text-decoration: none; 
	}
p.ssm2 a:visited {
	text-decoration: none; 
	}
/* JWS ADDED UNDERLINE FOR HOVER STATES */
p.ssm1 a:hover {
	text-decoration: underline; 
	}
p.ssm2 a:hover {
	text-decoration: underline; 
	}

	
/* Graphic for links in themes */
/* ================================================== */
p.themes a, p.themes a:link, p.themes a:visited /* , p.themes a:hover JWS CHANGE */
	{
	background-image: url('IconsReference/minitoc.gif'); 
	background-repeat: no-repeat;
	background-position: left;
	margin-left: 0px; /* 22px; JWS CHANGE */
	padding-left: 15px;
	text-decoration: none; /* underline; JWS CHANGE */
	}

/* JWS ADDED UNDERLINE FOR HOVER STATE */
p.themes a:hover
	{
	text-decoration: underline;
	}
	
/* used in the TOC */
/* --------------- */
p.toc {
	font-family: Verdana, Helvetica, sans-serif; 
	font-weight: normal;
	font-size: 8pt; 
	margin-top:0px;
	margin-bottom: 0px; 
	margin-left: -4pt;
	}
/* used in the Site Map */
/* ----------------------------- */
p.ssm1 {font-family: Verdana, Helvetica, sans-serif;
	/* font-weight: bold; JWS REMOVED */ 
	background-image: url('IconsReference/minitoc.gif'); /* JWS ADDED */
	background-repeat: no-repeat; /* JWS ADDED */
	background-position: 15px; /* 2%; MTN CHANGED */
	font-size: 8pt; /* 7pt; JWS CHANGE */ 
	margin-left: 0px;
	margin-top: 0px; /* 9pt; JWS CHANGE */
	margin-bottom: 1pt; }
p.ssm2 {font-family: Verdana, Helvetica, sans-serif;
	font-weight: normal;
	background-image: url('IconsReference/minitoc.gif'); /* JWS ADDED */
	background-repeat: no-repeat; /* JWS ADDED */
	background-position: 15px; /* 2%; MTN CHANGED */
	font-size: 8pt; /* 7pt; JWS CHANGE */ 
	margin-left: 20px; /* JWS ADDED - MTN margin-left included in HTML so has no visible effect */
	margin-top:0px;
	margin-bottom: 1pt; }
/* used in the Index */
/* ----------------- */
p.glossaryheader {
	font-family: Verdana, Helvetica, sans-serif;
	font-weight: normal; 
	font-size: 10pt; 
	text-align: center;
	}

p.glossaryletter {
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 14pt; 
	font-weight: normal; 
	text-align: center;
	color:   #4B575F;        
	margin-top: 20px; 
	margin-bottom: 0px; 
	}

/* td.Intro1Only p.glossaryheader 
	{
	margin-left: 10px; 
	} MTN REMOVED */
p.ix1 {font-family: Verdana, Helvetica, sans-serif; 
	font-weight: normal; 
	font-size: 8pt; 
	margin-left: 0px; /* 40pt; JWS CHANGE */
	margin-top:0px; 
	margin-bottom: 2pt; }
p.ix2 {font-family: Verdana, Helvetica, sans-serif; 
	font-weight: normal; 
	font-size: 8pt; 
	margin-left: 30px; /* 40pt; MTN CHANGE */
	margin-top:0px; 
	margin-bottom: 2pt; }
